* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #012d5e;
  font-family: "Prompt", sans-serif;
  font-weight: 200;
}

.title {
  color: #ffc107;
  margin: 3vmax 3vmax 2vmax;
}

.box {
  margin: 2vmax 3vmax;
  width: 100%;
  position: relative;
  flex-direction: row;
  display: flex;
}

.form {
  padding-right: 15px;
  flex: 0.45;
  display: inline-block;
}

.info {
  flex: 0.5;
  display: inline-block;
  border-style: solid;
  border-width: thin;
  border-color: #ffc107;
}

.input {
  background-color: #34577e;
  border-radius: 1%;
  padding: 3.5%;
  margin: 0 0 2%;
}

.topic {
  color: #27a743;
  margin: 0 0 2%;
  font-weight: 400;
}

/* .fullwidth {
  background-color: #bbc7d4;
  margin: 2%;
} */

.halfwidth {
  width: 47%;
}

.right {
  float: right;
}

.textarea {
  background-color: white;
}

.spanlabel {
  display: inline-block;
  width: 100%;
  margin: 1.5% 0;
}

.firstspanlabel {
  display: inline-block;
  margin: 1.5% 0;
  width: 53%;
  color: white;
}

.secondspanlabel {
  display: inline-block;
  margin: 1.5% 0;
  color: white;
}

.label {
  margin: 1.5% 0;
  color: white;
}

.infotitle {
  font-weight: 400;
  color: #ffc107;
  text-align: center;
  margin: 5% auto 2%;
}

.infoperson {
  text-align: center;
  width: 50%;
  border-radius: 500px;
  background-color: #ffc107;
  margin: 3% auto 2%;
  padding-top: 1.5%;
  padding-bottom: 0.8%;
}

.capsuletext {
  font-weight: bold;
}

.button {
  margin: 0;
}

.viewdiv {
  width: 25%;
  background-color: #ffc107;
}

.deletebutton {
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  float: right;
}

.timestamp {
  color: #ffc107;
  padding-left: 40%;
  padding-top: 5%;
  font-size: 1.5em;
  font-weight: 100;
}

.bullet {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown {
  display: block;
}
